@inject IOrderService OrderService

@if(OrderService.Orders == null || OrderService.Orders.Count == 0)
{
    <span>Loading Orders...</span>
}
else
{
<ul class="list-unstyled">
    @foreach (var order in OrderService.Orders)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@order.ImgUrl" alt="@order.Number" />
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@order.Number</h4>
                </a>
                <p>@order.Note</p>
                <h5 class="price">
                    $@order.Price
                </h5>
            </div>
        </li>
    }
</ul>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await OrderService.GetOrders();
    }
}
