.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

    .media-img:hover {
        transform: scale(1.1);
    }

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

.media-img-wrapper {
    width: 225px;
    text-align: center;
}

.page-selection-current {
    margin-right: 15px;
    margin-bottom: 30px;
    border-width: 2px;
    background-color: rgb(58, 6, 71, 0.30);
    border-color: #3a0647b2;
    color: #000000;
}

.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
    border-width: 2px;
    background-color: rgb(81, 10, 95, 0.05);
    border-color: #3a0647b2;
    color: #000000;
}
    .page-selection:focus {
        box-shadow: 0 0 0 0.25rem rgb(11 172 204 / 50%);
    }

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}
